/* GLOBAL */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --black-color: #000;
  --white-color: #fff;
  --primary-color: #ed4d1b;
  --secondary-color: #ff9a3c;

  font-size: 62.5%;
}

body {
  background: linear-gradient(90deg, #ffe7d1 0%, #fff2e6 100%);
  padding-inline: 1.6rem;
}

#container {
  width: 360px;
  margin-inline: auto;
}

/* STYLES GENÉRICOS */

header,
main > section,
footer {
  border: 1px solid var(--black-color);
  border-top: none;
}

button {
  padding: 1.2rem 1.4rem;
  font-weight: 500;
  font-size: 2rem;
  line-height: 23.44px;
  text-align: center;
  background-color: var(--primary-color);
  border: 2px solid var(--black-color);
  box-shadow: 4px 4px 0px 0px #1e1e1e;
  text-transform: uppercase;
  cursor: pointer;
  transition: background 0.2s;
}

button:hover {
  background-color: var(--secondary-color);
}

button:active {
  transform: translateY(2px);
}

nav a {
  font-weight: 500;
  font-size: 2rem;
  line-height: 23.44px;
  text-decoration: none;
  color: var(--black-color);
  cursor: pointer;
}

nav a:hover {
  text-decoration: underline;
}

main section:first-child div,
main section:last-child,
footer {
  padding-inline: 2.4rem;
}

/* HEADER */

header img {
  display: block;
  padding-top: 3.2rem;
  margin: 0 auto 1.6rem;
  cursor: pointer;
}

header nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.6rem;
}

header nav a:nth-child(2n -1) {
  text-align: right;
}

header button {
  display: block;
  margin: 1.6rem auto 3.6rem;
}

/* MAIN SECTION:FIRST-CHILD */

main section:first-child > img {
  width: 100%;
  margin: 3.6rem 0 2.4rem;

  max-width: 842px;
}

main section:first-child h1 {
  font-weight: 900;
  font-size: 4.8rem;
  line-height: 50.4px;
}

main section:first-child h1 > span {
  color: var(--primary-color);
  position: relative;
}

main section:first-child h1 > span::after {
  content: "";
  background: url(./img/three-dashes.svg);
  width: 4rem;
  height: 4rem;
  position: absolute;
  top: -0.25rem;
}

main section:first-child p {
  font-weight: 500;
  font-size: 2rem;
  line-height: 23.44px;
  margin-block: 3.2rem;
}

main section:first-child button {
  margin-bottom: 26.8rem;
  position: relative;
}

main section:first-child button::after {
  content: "";
  background: url(./img/arrow-curve.svg) no-repeat center;
  width: 16rem;
  height: 8rem;
  top: 6rem;
  left: 12rem;
  position: absolute;
}

/* MAIN SECTION:LAST-CHILD */

main section:last-child > div:first-child {
  margin-top: -10.6rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

main section:last-child > div:first-child > article {
  background: var(--primary-color);
  border: 2px solid var(--black-color);
  box-shadow: 4px 4px 0px 0px #000000;
  padding: 2.7rem 0 0 3.4rem;
  max-width: 27rem;
}

main section:last-child > div:first-child > article h2 {
  font-weight: 900;
  font-size: 2.4rem;
  line-height: 28.13px;
  margin-block: 1.6rem;
}

main section:last-child > div:first-child > article p {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 18.75px;
}

main section:last-child > div:first-child > article a {
  display: block;
  float: right;
  margin-top: 4rem;
}

main section:last-child > div:first-child article:nth-child(2n) {
  background: var(--secondary-color);
  align-self: end;
}

main section:last-child > article > img {
  width: 4.8rem;
  height: 4.8rem;
}

main section:last-child > div:last-child {
  text-align: center;
  margin: 6.8rem auto 12.2rem;
}

main section:last-child > div:last-child > p {
  font-weight: 900;
  font-size: 4rem;
  line-height: 46.88px;
  margin-bottom: 3.2rem;
}

main section:last-child > div:last-child > p > span {
  color: var(--primary-color);
}

/* FOOTER */

footer {
  border-bottom: none;
  padding-bottom: 3.2rem;
}

footer img {
  display: inline-block;
  padding-block: 1.6rem;
  cursor: pointer;
}

footer p {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 18.75px;
}

footer nav {
  display: flex;
  flex-direction: column;
  margin-block: 4.8rem;
  gap: 3.2rem;
}

footer form label {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 28.13px;
}

footer form input {
  display: block;
  margin-block: 1.6rem;
  border: 2px solid var(--black-color);
  outline: transparent;
  box-shadow: 4px 4px 0px 0px #000000;
  width: 100%;
  padding: 1.2rem 1.4rem;
  font-size: 2rem;
}

/* MEDIA QUERIES */

@media only screen and (min-width: 768px) {
  #container {
    width: 100%;
    max-width: 768px;
  }

  header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  main section:first-child h1 > span {
    display: block;
  }

  main section:last-child > div:first-child {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  main section:last-child > div:first-child article:nth-child(2n) {
    margin-top: 4rem;
  }
}

@media only screen and (min-width: 1200px) {
  #container {
    width: 100%;
    max-width: 1200px;
  }

  header,
  footer {
    padding-inline: 9rem;
  }

  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
  }

  header img {
    padding: 0;
    margin-block: 2.6rem;
  }

  header nav {
    gap: 6rem;
  }

  header button {
    margin: 0;
  }

  main section:first-child {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0;
    padding: 0 0 8rem;
  }

  main section:first-child > img {
    margin: 0;
    padding: 0;
  }

  main section:first-child div {
    margin-top: 8.8rem;
    padding-left: 9rem;
  }

  footer {
    padding-top: 6.3rem;
    display: grid;
    justify-content: space-between;
    align-items: start;
    grid-template-columns: 1fr 1fr 3fr;
    gap: 1.2rem;
  }

  footer img {
    padding-top: 0;
  }

  footer nav {
    width: fit-content;
    margin: 0;
    margin-inline: auto;
  }
}
